* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
}

#rect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid rgba(128, 128, 128, 0.533);
    border-radius: 100px;
}